<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MabiChatSpeech.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encoding.CodePages" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <MabiChatSpeech.Properties.Settings>
      <setting name="__CapureProgram" serializeAs="String">
        <value>client.exe</value>
      </setting>
      <setting name="__CapturePort" serializeAs="String">
        <value>11020</value>
      </setting>
      <setting name="__SaveMode" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="__SavePath" serializeAs="String">
        <value />
      </setting>
      <setting name="__ChatFontName" serializeAs="String">
        <value>ＭＳ Ｐゴシック</value>
      </setting>
      <setting name="__ChatFontSize" serializeAs="String">
        <value>11</value>
      </setting>
      <setting name="__ChatFontStyle" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="__ChatForeColor" serializeAs="String">
        <value>-16711936</value>
      </setting>
      <setting name="__ChatBackColor" serializeAs="String">
        <value>-16777216</value>
      </setting>
      <setting name="__ChatSelWhitelist" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="__ChatSelUser" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="__ChatSelPet" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="__ChatSelNpc" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="__ChatFaceEmo" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="__TTS1Volume" serializeAs="String">
        <value>80</value>
      </setting>
      <setting name="__TTS1Speed" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="__TTS2Volume" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="__TTS2Speed" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="__TTS_Mute" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="__TTS_NameCall" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="__ChatFontCharSet" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="__ChatFontBold" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="__ChatFontItalic" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="__ServerList_Path" serializeAs="String">
        <value>./</value>
      </setting>
      <setting name="__WhiteList_Path" serializeAs="String">
        <value>./</value>
      </setting>
      <setting name="__WhiteList_AutoAdd" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="__TTS1Name" serializeAs="String">
        <value />
      </setting>
      <setting name="__TTS2Name" serializeAs="String">
        <value />
      </setting>
      <setting name="__ChatFColor" serializeAs="String">
        <value>9</value>
      </setting>
      <setting name="__ChatBColor" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="__Pos_Main" serializeAs="String">
        <value>0,0,700,400</value>
      </setting>
    </MabiChatSpeech.Properties.Settings>
  </userSettings>
</configuration>